


<div class="container center-align login-container">
    <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                    <h3>Sign In</h3>
                </mat-card-header>
                <mat-divider></mat-divider>
                <form  #loginForm="ngForm"  (ngSubmit)="login()">

                
                    <div class="example-container">
                            <mat-form-field style="margin-top:5%;">
                                    <input type="text" matInput placeholder="Email" required
                                    [(ngModel)]="model.UserName" name="userName">
                                  </mat-form-field>
                                
                                  <mat-form-field>
                                    <input type="password" matInput placeholder="Password" required
                                    [(ngModel)]="model.Password" name="password">
                                  </mat-form-field>

                                  <mat-grid-list  cols="2"  rowHeight="50px">
                                                
                                        <mat-grid-tile>
                                                <mat-checkbox
                                                [(ngModel)]="model.remember" name="remember">Remember me</mat-checkbox>
                                        </mat-grid-tile>
                                        <mat-grid-tile>
                                                <a  routerLink="/login/forgotpassword">Forgot Password</a>
                                        </mat-grid-tile>
                                        
                                      </mat-grid-list>
                          
                          </div>  
                                <mat-card-actions>
                                        <mat-grid-list  cols="2"  rowHeight="40px">
                                                
                                                <mat-grid-tile>
                                                        <button mat-raised-button>Clear</button>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                        <button type="submit" mat-raised-button color="primary"[disabled]="loginForm.form.invalid">Login</button>
                                                </mat-grid-tile>
                                                
                                              </mat-grid-list>
                                      </mat-card-actions>
                                    </form>
                                      <mat-divider></mat-divider>
                                <mat-card-actions>

                                        <mat-grid-list  cols="1"  rowHeight="50px">
                                                
                                                <mat-grid-tile>
                                                        Don't have account? <a  routerLink="/login/register">Register Now!</a>
                                                </mat-grid-tile>
                                                
                                                
                                              </mat-grid-list>
                                      </mat-card-actions>
                </mat-card>
            
    </div>
        
</div>
