<!-- <div class="container">
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                
            </div>  
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form">
                    
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                        
                    
                      
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-lg" name="email" placeholder="Email Address">
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-lg" name="firstname" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-lg" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control input-lg" name="passwd" placeholder="Password">
                        </div>
                    </div>
                      

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-3">
                            <button id="btn-signup" type="button" class="btn btn-default btn-lg" (click)="cancel()">
                                <i class="icon-hand-right"></i>Cancel</button>
                        </div>
                        <div class="col-md-offset-3 col-md-3">
                            <button  type="button" class="btn btn-primary  btn-lg" (click)="signUp()"><i class="icon-hand-right"></i>Sign Up</button>
                        </div>
                    </div>
                    
                 
                    
                    
                    
                </form>
             </div>
        </div>

   
   
    
</div> 
</div> -->



<div class="container center-align">
        <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        <h3>Sign Up</h3>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <form   #registerForm="ngForm">

                    
                        <div class="example-container">
                                
                                    
                                      <mat-form-field>
                                        <input type="text" matInput placeholder="First Name" required
                                        [(ngModel)]="model.FirstName" name="firstName">
                                      </mat-form-field>
                                      <mat-form-field>
                                            <input type="text" matInput placeholder="Last Name" required
                                            [(ngModel)]="model.LastName" name="lastName">
                                          </mat-form-field>
                                        
                                          <mat-form-field>
                                            <input type="password" matInput placeholder="Password" required
                                            [(ngModel)]="model.Password" name="password">
                                          </mat-form-field>
                                          <mat-form-field>
                                                <input type="text" matInput placeholder="Mobile" required
                                                [(ngModel)]="model.Mobile" name="mobile">
                                              </mat-form-field>
                                          <mat-form-field>
                                                <input type="text" matInput placeholder="Email Address" required
                                                [(ngModel)]="model.Email" name="email">
                                              </mat-form-field>
                                          <mat-form-field>
                                                <mat-select placeholder="Role" required
                                                [(ngModel)]="model.Role" name="role">
                                                  <mat-option *ngFor="let role of Roles" [value]="role.value">
                                                    {{role.viewValue}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
    
                                      
                              
                              </div>  
                                    <mat-card-actions>
                                            <mat-grid-list  cols="2"  rowHeight="40px">
                                                    
                                                    <mat-grid-tile>
                                                            <button mat-raised-button (click)="cancel()">Cancel</button>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                            <button mat-raised-button color="primary"  
                                                            (click)="signUp()" [disabled]="registerForm.form.invalid">Sign Up</button>
                                                    </mat-grid-tile>
                                                    
                                                  </mat-grid-list>
                                          </mat-card-actions>
                                        </form>
                                          
                    </mat-card>
                
        </div>
            
    </div>