<style>
table {
  width: 100%;
}
.example-full-width{
  width:75%;
}
</style>
<div class="row">
  <div class="col-md-5">
      <mat-form-field   class="example-full-width" style="margin-left:5%;">
          <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
  </div>
<div class="col-md-offset-5 col-md-2">
    <i class="fa fa-plus-square-o fa-2x" aria-hidden="true" style="margin-right:5%;"></i>
    <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
    
</div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
              <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox>
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox>
                    </mat-checkbox>
                  </td>
                </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef > Name </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} &nbsp; {{element.LastName}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>
      
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
          </ng-container>
         
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="20"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>