<style>
    .example-card{
        width:45%;
    }
</style>
<div class="container center-align-panel">
        <div class="panel panel-danger example-card">
                <div class="panel-heading" style="font-size:14pt;">Un Authorized Access</div>
                <div class="panel-body" style="font-size:11pt;line-height:1.5em;">
                  <span class="text-info">It appears that you don't have permission to access this page.Please make sure you're authorized
                        to view this content.If you think you should be able to view this page,please use the</span>&nbsp;&nbsp;
                  <a routerLink="/login">Authorize</a> &nbsp;&nbsp;<span class="text-info">link</span>

                </div>
              </div>
</div>
