

<h2 mat-dialog-title>Delete Job</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
  
    <h5>Are you sure do you want to delete the job</h5>
 
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <div class="col-md-6">
            <button class="mat-raised-button"(click)="close()">Cancel</button>
    </div>
    <div class="col-md-6">
            <button class="mat-raised-button mat-primary"(click)="ok()">Ok</button>
        </div>
    
    
</mat-dialog-actions>