<style>
.data-table {
  width: 100%;
  margin:25px auto;
}
.example-full-width {
  width: 75%;
  margin:3% 5%;
}

</style>
<div class="container-fluid">
    <div class="mat-elevation-z8 data-table">
      <div class="row">
          <div class="col-md-3">
              <mat-form-field   class="example-full-width">
                  <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Job Status" (selectionChange)="changeByJobStatus($event.value)">
                      <mat-option *ngFor="let job of jobs" [value]="job.value">
                        {{job.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-3 date-range-pic" style="margin-top:1%;">
                  <mat-form-field>
                      <input matInput [matDatepicker]="startdate" placeholder="From Date" [(ngModel)]="searchJobFilter.fromDate"  (dateChange)="fromDatechange()">
                      <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                      <mat-datepicker #startdate></mat-datepicker>
                    </mat-form-field>
              </div>
              <div class="col-md-3 date-range-pic"  style="margin-top:1%;">
                  <mat-form-field>
                      <input matInput [matDatepicker]="enddate" placeholder="To Date" [(ngModel)]="searchJobFilter.toDate"  (dateChange)="fromDatechange()">
                      <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                      <mat-datepicker #enddate></mat-datepicker>
                    </mat-form-field>
                </div>
              
      </div>
      <div class="row" style="cursor:pointer;">
        <div style="margin-left:3%;" class="col-md-1 col-sm-1  col-xs-1" (click)="addJob()">
            <i pTooltip="Add Job" class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
        </div>
        <!-- <div class="col-md-1"  (click)="editJob()">
            <i  pTooltip="Edit Job" class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-md-1"  (click)="deleteJob()">
            <i  pTooltip="Delete Job" class="fa fa-trash-o fa-3x" aria-hidden="true"></i>
        </div> -->

      </div>
     
      <div class="example-container mat-elevation-z8">
        

        <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile" matSort>

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span class="mobile-label"></span>
                <div style="display:flex;">
                    <a [routerLink]="['/editjobdescription', element.ID,'edit']"><i  pTooltip="Edit Job" class="fa fa-pencil-square-o" aria-hidden="true" style="padding:5px;"></i></a>
                    <a (click)="deleteJob(element.ID)" style="cursor:pointer;"><i  pTooltip="Delete Job" class="fa fa-trash-o" aria-hidden="true"  style="padding:5px;"></i></a>
                </div>
              </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="JobID">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Job ID </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span class="mobile-label">Job ID:</span>
                <a [routerLink]="['/editjobdescription', element.ID,'view']">{{element.JobID}}</a> 
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="CreatedDate">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <span class="mobile-label">Date:</span>
                  {{element.CreatedDate  | date:'yyyy-MM-dd'}}
                </mat-cell>
              </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Title">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span class="mobile-label">Title:</span>
                {{element.Title}} 
              </mat-cell>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="CompanyName">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> Company </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span class="mobile-label">Company Information:</span>
                {{element.CompanyName}} 
              </mat-cell>
            </ng-container>

             <!-- Weight Column -->
             <ng-container matColumnDef="user.UserName">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Hiring Manager </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <span class="mobile-label">Hiring Manager:</span>
                  {{element.user.UserName}}
                </mat-cell>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="Location">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Location </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <span class="mobile-label">Location:</span>
                  {{element.Location}} 
                </mat-cell>
              </ng-container>

               <!-- Weight Column -->
            <ng-container matColumnDef="JobStatus">
                <mat-header-cell *matHeaderCellDef  mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <span class="mobile-label">Status:</span>
                  {{element.JobStatus}} 
                </mat-cell>
              </ng-container>
          
              
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
      </div>
        <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="20"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </div>
</div>


