<style>
.example-full-width{
    width:100%;
}
</style>
<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-3">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a  (click)="fileInput.click()" style="cursor:pointer;" title="Upload Profile Image">
                                        <img *ngIf="!model.ProfileImage" class="img" src="../../../../assets/images/avathar.jpg" />
                                        <img *ngIf="model.ProfileImage" class="img" [src]="model.ProfileImage" class="img-circle" width="180" style="    border: 10px double gainsboro;" />
                                        <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                                    </a>
                                </div>
                                
                                <div class="card-body" style="margin-left:10%;">
                                    <h6 class="card-category text-gray">{{model.Role}}</h6>
                                    <h4 class="card-title">{{model.FirstName}}&nbsp;{{model.LastName}}</h4>
                                    
                                </div>
                                <!-- <p-progressBar [value]="50"></p-progressBar> -->
                            </div>
                        </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Profile</h4>
                        </div>
                        <div class="card-body">
                            <form   #profileForm="ngForm"  (ngSubmit)="submit()">
                                
                                <div class="row">
                                    
                                        
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Email address" type="email" required
                                              name="emailAddress" [(ngModel)]="model.Email">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fist Name" type="text" required
                                        name="firstname" [(ngModel)]="model.FirstName">
                                      </mat-form-field>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                        
                                        <div class="col-md-6">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Last Name" type="text" required
                                            name="lastname" [(ngModel)]="model.LastName">
                                          </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                            <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Password" type="text" required
                                                name="password" [(ngModel)]="model.Password">
                                              </mat-form-field>
                                            </div>
                                        </div>
                                    <div class="row">
                                        
                                            <div class="col-md-6">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Linked In" type="text" required
                                                name="linkedin" [(ngModel)]="model.LinkedIn">
                                              </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                        
                                                <div class="col-md-6">
                                                  <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Mobile" type="text" required
                                                    name="mobile" [(ngModel)]="model.Mobile">
                                                  </mat-form-field>
                                                </div>
                                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Location" type="text" required
                                        name="location" [(ngModel)]="model.Location">
                                      </mat-form-field>
                                    </div>
                                </div>
                                

                                        <div class="row">
                                                <div class="col-md-3">
                                                        <button mat-raised-button>Cancel</button>
                                                        <div class="clearfix"></div>
                                                </div>
                                            
                                                <div class="col-md-offset-1 col-md-3">
                                                        <button mat-raised-button  color="primary" type="submit"
                                                        [disabled]="profileForm.form.invalid">Update Profile</button>
                                                        <div class="clearfix"></div>
                                                </div>
                                            </div>
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </div>