<style>
.mat-menu-panel{
  margin-top:50px;
}
.navbar-right {
    float: right!important;
    margin-right: 50px !important;
}
</style>
      <div class="container-fluid">
<div class="row" *ngIf="authenticated">
<div class="col-md-12">
    
  <nav class="navbar navbar-default">
      
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
        <a class="navbar-brand" routerLink="/jobgridlist"  *ngIf="loggedDetails.Role !='Administrator'">
          <img alt="Brand" src="../assets/images/logo.jpg" >
        </a>
        <a class="navbar-brand" routerLink="/user">
          <img alt="Brand" src="../assets/images/logo.jpg"  *ngIf="loggedDetails.Role =='Administrator'">
        </a>
        
      </div>
      
      <ng-template #popTemplate>
          <mat-list>
              <h2 mat-subheader><span style="font-size:14pt;" class="text-info">{{model.FirstName}}&nbsp;&nbsp;{{model.LastName}}</span></h2>
              <h3 mat-subheader><span style="font-size:12pt;" class="text-info">{{model.Role}}</span></h3>
              <mat-list-item>
                <mat-icon class="fa fa-user"></mat-icon>
                <span><a routerLink="/login/profile">Profile</a></span>
                
              </mat-list-item>
              <mat-list-item>
                  <mat-icon class="fa fa-cog"></mat-icon>
                  <span>Settings</span>
                  
                </mat-list-item>
                  <mat-list-item>
                      <mat-icon class="fa fa-user"></mat-icon>
                      <span><a routerLink="/login">Logout</a></span>
                      
                    </mat-list-item>
            </mat-list>
      </ng-template>
              <span class="navbar-right"
                      [popover]="popTemplate" container="body" placement="bottom">
                      <img *ngIf="!model.ProfileImage" src="../assets/images/avathar.jpg" class="img-circle " alt="Cinque Terre" width="65" height="65"> 
                      <img *ngIf="model.ProfileImage" class="img" [src]="model.ProfileImage" class="img-circle"  width="65" height="65" style="    border: 10px double gainsboro;" />
          </span>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              
              <!-- <button type="button" class="btn btn-default btn-secondary"
              popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              popoverTitle="Popover on bottom"
              placement="bottom">
              <img src="../assets/images/avathar.jpg" class="img-circle" alt="Cinque Terre" width="65" height="65"> 
      </button> -->
          </li>
        </ul>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
        <!-- <ul class="nav navbar-nav navbar-right" [matMenuTriggerFor]="menu">
          <li class="dropdown">
            <button mat-icon-button >
              <img src="../assets/images/avathar.jpg" class="img-circle" alt="Cinque Terre" width="65" height="65"> 
            </button>
            <mat-menu #menu="matMenu" style="margin-top:50px;">
                <button mat-menu-item>
                  <span>{{loggedDetails.FirstName}}&nbsp;&nbsp;&nbsp;{{loggedDetails.LastName}}</span>
                </button>
                <button mat-menu-item>
                  <span>{{loggedDetails.Role}}</span>
                </button>
              <button mat-menu-item>
                  <mat-icon class="fa fa-user"></mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item>
                  <mat-icon class="fa fa-cog"></mat-icon>
                <span>Settings</span>
              </button>
              
              <button mat-menu-item>
                <mat-icon class="fa fa-sign-out"></mat-icon>
                <span><a routerLink="/login">Logout</a></span>
              </button>
            </mat-menu>
          </li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row" style="margin-top:3%;">
<div class="col-md-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          
            <ul class="nav navbar-nav navbar-right" *ngIf="loggedDetails.Role !='Administrator'">
                <li><a>Jobs</a></li>
                <li><a> Source Talent</a></li>
                <li><a>Smart Screen</a></li>
                <li><a>Assess </a></li>
                <li><a>Top Talent </a></li>
                <li><a>Hire</a></li>
                <li><a>Dashboard </a></li>
                
              </ul>
              <ul class="nav navbar-nav navbar-right"  *ngIf="loggedDetails.Role =='Administrator'">
                  <li><a routerLink="/user">Users</a></li>
                  <li><a  routerLink="/user/usergroups">User Groups</a></li>
                  
                  
                </ul>
        </div>
      </nav>
</div>
  </div>
</div>
</div>
<div class="row">
        
        <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row"  *ngIf="authenticated">
                
                <div class="col-md-12">
                     <footer>
                        <p class="navbar-text">©2018 Everest Consultants, Inc</p>
                     </footer>   
                    </div>
                </div>
      </div>

