<style>
    .element-padding {
        margin-bottom: 2%;
    }

    .input-group-addon {
        cursor: pointer !important;
    }

    
   
    
    .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 4px;
}


    /* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #03A9F4;
} */
</style>
<div class="container" style="margin-top:5%;">
        
    <div class="row">
        <div class="col-md-12 col-xs-12">
            

            <div class="row element-padding ">
               
                    <!-- <div class="col-md-1 col-xs-4" >
                            <label style="margin-top: 5%;">AI Assist</label>
                    </div>
                    <div class="col-md-2">
                            <rating [(ngModel)]="starsCount " [max]="5 " [float]="true ">
                                </rating>
                    </div> -->
                    <div class="col-md-2" style="margin-top:10px;">
                            <a (click)="viewResumeSamples() " style="cursor:pointer; ">View Sample Resumes</a>
                    </div>
                            <div class="col-md-offset-2 col-md-1 col-xs-2" *ngIf="!fieldPreviewMode">
                                    <button class="btn btn-primary" (click)="editMode() ">Edit</button>
                                </div>
                                <div class="col-md-offset-2 col-md-1 col-xs-2" *ngIf="fieldPreviewMode">
                                        <button class="btn btn-primary" (click)="viewMode() ">View</button>
                                    </div>
                            <div class="col-md-1 col-xs-2" *ngIf="saveVisible && fieldPreviewMode">
                                    <button class="btn btn-primary" (click)="saveJob() ">Save</button>
                                </div>
                                <div class="col-md-1 col-xs-2" *ngIf="!saveVisible && fieldPreviewMode">
                                    <button class="btn btn-primary" (click)="updateJob() ">Update</button>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                        <button class="btn btn-primary" (click)="search1() ">Clone</button>
                                    </div>
                            <div class="col-md-1 col-xs-2">
                                    <button class="btn btn-primary" (click)="clear() ">Clear</button>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                        <button class="btn btn-primary" (click)="search1() ">Search</button>
                                    </div>
                   
                    
                </div>
                <div class="row">
                        <div class="col-md-1 col-xs-4" >
                                <label>AI Assist</label>
                        </div>
                        <div class="col-md-2" style="margin-top: -10px;">
                                <rating [(ngModel)]="starsCount " [max]="5 " [float]="true ">
                                    </rating>
                        </div>
                            <div class="col-md-9" *ngIf="fieldPreviewMode">
                                    <div>
                                            <p-progressBar [value]="progressNumber"></p-progressBar>
                                        </div>
                                </div>
                </div>
                <div  *ngIf="fieldPreviewMode" >
                        <p-accordion [activeIndex]="index " >
                                <p-accordionTab header="Job Title and Overview ">
                                        <form #bookForm="ngForm">
            
                                           
                                    <div class="row element-padding ">
                                            <div class="col-md-4 " >
                                                <label for="email ">Company Background</label>
                                            </div>
                                            <div class="col-md-8 ">
                                                <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                        <textarea  name="companyInfo" #companyInfo="ngModel" [(ngModel)]="model.CompanyName"  (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Company Background " rows="3 " style="resize:none "></textarea>
                        
                                                    <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 " style="cursor:pointer; " >
                        <i class="fa fa-microphone fa-lg" aria-hidden="true "></i>
                        
                    </span>
                    <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 " style="cursor:pointer; " >
                        
                        <div [hidden]="!companyInfo.dirty">
                                <i class="fa fa-exclamation " pTooltip="Please Enter Correct Company Background" aria-hidden="true " style="color: red;margin:
                        13px -14px;font-size: 14pt; "></i>
                              </div>
                    </span>
                        
                                                </div>
                                                
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="row element-padding ">
                                                <div class="col-md-4 " >
                                                    <label for="email ">Job ID</label><i style="margin-left:4%; " class="fa fa-question "  
                                                    pTooltip="Enter Job ID"></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                        <input spellcheck="true" type="text " class="form-control input-lg" name="JobID" #JobID="ngModel"
                                                        [(ngModel)]="model.JobID "  (change)="changeProgressPercent() " placeholder="Enter Job ID " aria-describedby="basic-addon2 ">
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 " style="cursor:pointer; " ><i class="fa fa-microphone fa-lg " aria-hidden="true "></i></span>
                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 " style="cursor:pointer; " >
                        
                        <div [hidden]="!JobID.dirty">
                                <i class="fa fa-exclamation " pTooltip="Please Enter Correct Job ID" aria-hidden="true " style="color: red;margin:
                        13px -14px;font-size: 14pt; "></i>
                              </div>
                    </span>
                                                        
                                                    </div>
                                                </div>
                                               
                                                
                                            </div>
                                            <div class="row element-padding " *ngIf="!saveVisible">
                                                    <div class="col-md-4 " >
                                                        <label for="email ">Job Status</label><i style="margin-left:4%; " class="fa fa-question "  
                                                        pTooltip="Enter Job ID"></i>
                                                    </div>
                                                    <div class="col-md-8 ">
                                                        <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                                <select class="form-control input-lg" id="sel1" [(ngModel)]="model.JobStatus "  name="JobStatus" #JobStatus="ngModel">
                                                                        <option value="Open">Open</option>
                                                                        <option value="Close">Close</option>
                                                                      </select>
                                                            <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                            " id="basic-addon2 " style="cursor:pointer; " ><i class="fa fa-microphone fa-lg " aria-hidden="true "></i></span>
                            <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                            " id="basic-addon2 " style="cursor:pointer; " >
                            
                            <div [hidden]="!JobStatus.dirty">
                                    <i class="fa fa-exclamation " pTooltip="Please Enter Correct Job ID" aria-hidden="true " style="color: red;margin:
                            13px -14px;font-size: 14pt; "></i>
                                  </div>
                        </span>
                                                            
                                                        </div>
                                                    </div>
                                                   
                                                    
                                                </div>
                                        <div class="row element-padding " >
                                                <div class="col-md-4 " >
                                                    <label for="email "  >Title</label><i style="margin-left:4%; " class="fa fa-question"  positionStyle="absolute"
                                                    pTooltip="Make your job titles specific. Targeted job titles are more effective
                        than generic ones, so be precise by including key phrases that accurately describe the role." ></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                        <input spellcheck="true" type="text " class="form-control input-lg" name="jobTitle" #jobTitle="ngModel"
                                                        [(ngModel)]="model.Title "  (change)="changeProgressPercent() " placeholder="Enter Title " aria-describedby="basic-addon2 ">
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 " style="cursor:pointer; " ><i class="fa fa-microphone fa-lg " aria-hidden="true "></i></span>
                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 " style="cursor:pointer; " >
                        
                        <div [hidden]="!jobTitle.dirty">
                                <i class="fa fa-exclamation " pTooltip="Please Enter Correct Title" aria-hidden="true " style="color: red;margin:
                        13px -14px;font-size: 14pt; "></i>
                              </div>
                    </span>
                                                        
                                                    </div>
                                                </div>
                                               
                                                
                                            </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Job Overview</label><i style="margin-left:4%; " class="fa
                        fa-question " 
                                                    pTooltip="A great job description starts with a compelling summary of the position
                        and its role within your company. Your summary should provide an overview of your company and expectations for
                        the position. Outline the types of activities and responsibilities required for the job so job seekers can determine
                        if they are qualified, or if the job is a good fit. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                        <textarea   name="jobOverViewField" #jobOverViewField="ngModel" [(ngModel)]="model.Overview" (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Job overview " rows="3 " style="resize:none "></textarea>
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        "><i class="fa fa-microphone fa-lg " aria-hidden="true "></i></span>
        
                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()" id="basic-addon2 " style="cursor:pointer; " >
                        
                        <div [hidden]="!jobOverViewField.dirty">
                                <i class="fa fa-exclamation " pTooltip="Please Enter Correct Job Overview" aria-hidden="true " style="color: red;margin:
                        13px -14px;font-size: 14pt; "></i>
                              </div>
                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Job responsibilities & duties</label><i style="margin-left:4%;
                        " class="fa fa-question "
                                                     pTooltip="Outline the functions this position will perform on a regular basis,
                        how the job functions within the organization and who the job reports to. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                        <textarea    name="jobDutiesField" #jobDutiesField="ngModel" [(ngModel)]="model.Responsibilities" (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " rows="3 " placeholder="Enter Job responsibilities & duties " 
                                                        style="resize:none "></textarea>
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        "><i class="fa fa-microphone fa-lg " aria-hidden="true "></i></span>
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobDutiesField.dirty">
                                        <i class="fa fa-exclamation " pTooltip="Please Enter Correct Job responsibilities & duties" aria-hidden="true " style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form> 
                                </p-accordionTab>
                                <p-accordionTab header="Skills ">
                                    <form name="skillform">
        
                                    
                                        <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    
                                                    <label for="email ">Technical Skills</label><i style="margin-left:4%; " class="fa fa-question "
                                                     pTooltip="Next, outline the required skills for your position. While it may
                        be tempting to include a long list of skills and requirements, including too many could dissuade qualified candidates
                        from applying. Keep your list of qualifications concise, but provide enough detail with relevant keywords and
                        terms. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                       
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                            <textarea    name="jobSkillsField" #jobSkillsField="ngModel" [(ngModel)]="model.TechnicalSkills" (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Skills " rows="3 " style="resize:none "></textarea>
                                                        
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
        
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobSkillsField.dirty">
                                        <i class="fa fa-exclamation " pTooltip="Please Enter Correct Technical Skills" aria-hidden="true " style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Soft skills</label><i style="margin-left:4%; " class="fa
                        fa-question "
                                                    pTooltip="Next, outline the preferred skills for your position. While it may
                        be tempting to include a long list of skills and requirements, including too many could dissuade qualified candidates
                        from applying. Keep your list of qualifications concise, but provide enough detail with relevant keywords and
                        terms. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                            <textarea    name="jobSoftSkillsField" #jobSoftSkillsField="ngModel" [(ngModel)]="model.SoftSkills" (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Soft skills " rows="3 " style="resize:none "></textarea>
                                                        
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobSoftSkillsField.dirty">
                                        <i class="fa fa-exclamation " pTooltip="Please Enter Correct Soft Skills" aria-hidden="true " style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                </p-accordionTab>
                                <p-accordionTab header="Experience and Qualifications ">
                                    <form name="experienceForm">
        
                                    
                                        <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Years of experience</label><i style="margin-left:4%;
                        " class="fa fa-question " 
                                                    pTooltip="You can include years of experience. "></i>
                                                </div>
                                                
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                            <textarea  name="jobYrsExpField" #jobYrsExpField="ngModel" [(ngModel)]="model.Experience" (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Years of experience " rows="3 " style="resize:none "></textarea>
                                                        
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobYrsExpField.dirty">
                                        <i class="fa fa-exclamation " pTooltip="Please Enter Correct years of Experience" aria-hidden="true " style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row element-padding ">
                                                    <div class="col-md-4 ">
                                                        <label for="email ">Required previous experience</label><i style="margin-left:4%; " 
                                                        class="fa fa-question " 
                                                        pTooltip="Next, outline the preferred skills for your position. While it
                        may be tempting to include a long list of skills and requirements, including too many could dissuade qualified
                        candidates from applying. Keep your list of qualifications concise, but provide enough detail with relevant keywords
                        and terms. "></i>
                                                    </div>
                                                    <div class="col-md-8 ">
                                                        <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                                <textarea   name="jobPrevExpField" #jobPrevExpField="ngModel" [(ngModel)]="model.PreviousExperience" (change)="changeProgressPercent() " class="form-control
                        custom-control input-lg " placeholder="Enter Required previous experience " rows="3 " style="resize:none "></textarea>
                                                           
                                                            <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobPrevExpField.dirty">
                                        <i class="fa fa-exclamation " pTooltip="Please Enter Correct Required previous Experience" aria-hidden="true " style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Education</label><i style="margin-left:4%; " class="fa
                        fa-question "
                                                     pTooltip="You can include Education details. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                            <textarea   name="jobEducationField" #jobEducationField="ngModel" [(ngModel)]="model.Education"  (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Education " rows="3 " style="resize:none "></textarea>
                                                       
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobEducationField.dirty">
                                        <i class="fa fa-exclamation " pTooltip="Please Enter Correct Education" aria-hidden="true " style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Certifications</label><i style="margin-left:4%;
                        " class="fa fa-question "
                                                     pTooltip="You may also include Certifications that you envision for a successful
                        hire. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                            <textarea  name="jobCertificationsField" #jobCertificationsField="ngModel" [(ngModel)]="model.Certifications" (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Certifications " rows="3 " style="resize:none "></textarea>
                                                        
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        " id="basic-addon2 "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
        
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobCertificationsField.dirty">
                                        <i class="fa fa-exclamation " pTooltip="Please Enter Correct Certifications" aria-hidden="true " style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>      
                                </p-accordionTab>
                                
                                <p-accordionTab header="Additional Information ">
                                    <form name="concludingForm">
        
                                    
                                        <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Additional Information</label><i style="margin-left:4%;
                        " class="fa fa-question " pTooltip="Enter Additional Information. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                        <textarea  name="jobParagraphField" #jobParagraphField="ngModel" [(ngModel)]="model.AdditionalInformation"  (change)="changeProgressPercent() " class="form-control custom-control
                        input-lg " placeholder="Enter Additional Information " rows="3 " style="resize:none "></textarea>
                                                        <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                        "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                        <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                        
                                <div [hidden]="!jobParagraphField.dirty">
                                        <i class="fa fa-exclamation " aria-hidden="true " pTooltip="Please Enter Correct Additional Information" style="color: red;margin:
                                13px -14px;font-size: 14pt; "></i>
                                      </div>
                            </span>
                                                    </div>
                                                </div>
                                            </div>  
                                        </form>           
                                </p-accordionTab>
                                <p-accordionTab header="Benefits ">
                                        <form name="BenfitsForm">
            
                                        
                                            <div class="row element-padding ">
                                                    <div class="col-md-4 ">
                                                        <label for="email ">Benefits</label><i style="margin-left:4%; " class="fa fa-question
                            " pTooltip="Enter Benefits. "></i>
                                                    </div>
                                                    <div class="col-md-8 ">
                                                        <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                            <textarea  name="benefitsField" #benefitsField="ngModel" [(ngModel)]="model.Benefits" (change)="changeProgressPercent() " class="form-control custom-control
                            input-lg " placeholder="Enter Benefits " rows="3 " style="resize:none "></textarea>
                                                            <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                            "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                            <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                            
                                    <div [hidden]="!benefitsField.dirty">
                                            <i class="fa fa-exclamation " pTooltip="Please Enter Correct Benefits" aria-hidden="true " style="color: red;margin:
                                    13px -14px;font-size: 14pt; "></i>
                                          </div>
                                </span>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </form>          
                                    </p-accordionTab>
        
                                    <p-accordionTab header="How to Apply ">
                                            <form name="howToApply">
                
                                            
                                                <div class="row element-padding ">
                                                        <div class="col-md-4 ">
                                                            <label for="email ">How to Apply</label><i style="margin-left:4%; " class="fa fa-question
                                " pTooltip="How to Apply. "></i>
                                                        </div>
                                                        <div class="col-md-8 ">
                                                            <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                                <textarea  name="howToApplyField" #howToApplyField="ngModel" [(ngModel)]="model.HowToApply" (change)="changeProgressPercent() " class="form-control custom-control
                                input-lg " placeholder="How to Apply " rows="3 " style="resize:none "></textarea>
                                                                <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                                "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                                <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                                
                                        <div [hidden]="!howToApplyField.dirty">
                                                <i class="fa fa-exclamation " pTooltip="Please Enter Correct Details" aria-hidden="true " style="color: red;margin:
                                        13px -14px;font-size: 14pt; "></i>
                                              </div>
                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </form>          
                                        </p-accordionTab>
        
                                        <p-accordionTab header="Keywords ">
                                                <form name="keywordsForm">
                    
                                                
                                                    <div class="row element-padding ">
                                                            <div class="col-md-4 ">
                                                                <label for="email ">Keywords</label><i style="margin-left:4%; " class="fa fa-question
                                    " pTooltip="Enter Keywords as a comma seperated text. "></i>
                                                            </div>
                                                            <div class="col-md-8 ">
                                                                <div  class="input-group " *ngIf="fieldPreviewMode" >
                                                                    <textarea  name="jobkeywordsField" #jobkeywordsField="ngModel" [(ngModel)]="model.Keywords" (change)="changeProgressPercent() " class="form-control custom-control
                                    input-lg " placeholder="Enter keywords " rows="3 " style="resize:none "></textarea>
                                                                    <span class="input-group-addon "  (click)="activateSpeechSearchMovie()
                                    "><i class="fa fa-microphone fa-lg" aria-hidden="true "></i></span>
                                    <span class="input-group-addon " id="basic-addon2 " style="cursor:pointer; " >
                                    
                                            <div [hidden]="!jobkeywordsField.dirty">
                                                    <i class="fa fa-exclamation " pTooltip="Please Enter Correct Keywords" aria-hidden="true " style="color: red;margin:
                                            13px -14px;font-size: 14pt; "></i>
                                                  </div>
                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </form>          
                                            </p-accordionTab>
                            </p-accordion> 
                </div>
                <div  *ngIf="!fieldPreviewMode" >
                                        <form #bookForm="ngForm">
            
                                           
                                    <div class="row element-padding ">
                                            <div class="col-md-4 " >
                                                <label for="email ">Company Background</label>
                                            </div>
                                            <div class="col-md-8 ">
                                                <div  class="input-group ">
                                                    <p>{{model.CompanyName}}</p>
                                                        
                        
                                                </div>
                                                
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="row element-padding ">
                                                <div class="col-md-4 " >
                                                    <label for="email ">Job ID</label><i style="margin-left:4%; " class="fa fa-question "  
                                                    pTooltip="Enter Job ID"></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group ">
                                                        <p>{{model.JobID}}</p>
                                                        
                                                        
                                                    </div>
                                                </div>
                                               
                                                
                                            </div>
                                        <div class="row element-padding " >
                                                <div class="col-md-4 " >
                                                    <label for="email "  >Title</label><i style="margin-left:4%; " class="fa fa-question"  positionStyle="absolute"
                                                    pTooltip="Make your job titles specific. Targeted job titles are more effective
                        than generic ones, so be precise by including key phrases that accurately describe the role." ></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " >
                                                        <p>{{model.Title}}</p>
                                                       
                                                        
                                                    </div>
                                                </div>
                                               
                                                
                                            </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Job Overview</label><i style="margin-left:4%; " class="fa
                        fa-question " 
                                                    pTooltip="A great job description starts with a compelling summary of the position
                        and its role within your company. Your summary should provide an overview of your company and expectations for
                        the position. Outline the types of activities and responsibilities required for the job so job seekers can determine
                        if they are qualified, or if the job is a good fit. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group ">
                                                        <p>{{model.Overview}}</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Job responsibilities & duties</label><i style="margin-left:4%;
                        " class="fa fa-question "
                                                     pTooltip="Outline the functions this position will perform on a regular basis,
                        how the job functions within the organization and who the job reports to. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group ">
                                                        <p>{{model.Responsibilities}}</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </form> 
                                    <form name="skillform">
        
                                    
                                        <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    
                                                    <label for="email ">Technical Skills</label><i style="margin-left:4%; " class="fa fa-question "
                                                     pTooltip="Next, outline the required skills for your position. While it may
                        be tempting to include a long list of skills and requirements, including too many could dissuade qualified candidates
                        from applying. Keep your list of qualifications concise, but provide enough detail with relevant keywords and
                        terms. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                       
                                                    <div  class="input-group ">
                                                            <p>{{model.TechnicalSkills}}</p>
                                                           
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Soft skills</label><i style="margin-left:4%; " class="fa
                        fa-question "
                                                    pTooltip="Next, outline the preferred skills for your position. While it may
                        be tempting to include a long list of skills and requirements, including too many could dissuade qualified candidates
                        from applying. Keep your list of qualifications concise, but provide enough detail with relevant keywords and
                        terms. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group ">
                                                            <p>{{model.SoftSkills}}</p>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    <form name="experienceForm">
        
                                    
                                        <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Years of experience</label><i style="margin-left:4%;
                        " class="fa fa-question " 
                                                    pTooltip="You can include years of experience. "></i>
                                                </div>
                                                
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " >
                                                            <p>{{model.Experience}}</p>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row element-padding ">
                                                    <div class="col-md-4 ">
                                                        <label for="email ">Required previous experience</label><i style="margin-left:4%; " 
                                                        class="fa fa-question " 
                                                        pTooltip="Next, outline the preferred skills for your position. While it
                        may be tempting to include a long list of skills and requirements, including too many could dissuade qualified
                        candidates from applying. Keep your list of qualifications concise, but provide enough detail with relevant keywords
                        and terms. "></i>
                                                    </div>
                                                    <div class="col-md-8 ">
                                                        <div  class="input-group " >
                                                                <p>{{model.PreviousExperience}}</p>
                                                                
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Education</label><i style="margin-left:4%; " class="fa
                        fa-question "
                                                     pTooltip="You can include Education details. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group " >
                                                            <p>{{model.Education}}</p>
                                                           
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Certifications</label><i style="margin-left:4%;
                        " class="fa fa-question "
                                                     pTooltip="You may also include Certifications that you envision for a successful
                        hire. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group "  >
                                                            <p>{{model.Certifications}}</p>
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </form>      
                                
                                    <form name="concludingForm">
        
                                    
                                        <div class="row element-padding ">
                                                <div class="col-md-4 ">
                                                    <label for="email ">Additional Information</label><i style="margin-left:4%;
                        " class="fa fa-question " pTooltip="Enter Additional Information. "></i>
                                                </div>
                                                <div class="col-md-8 ">
                                                    <div  class="input-group "  >
                                                            <p>{{model.AdditionalInformation}}</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>  
                                        </form>           
                                        <form name="BenfitsForm">
            
                                        
                                            <div class="row element-padding ">
                                                    <div class="col-md-4 ">
                                                        <label for="email ">Benefits</label><i style="margin-left:4%; " class="fa fa-question
                            " pTooltip="Enter Benefits. "></i>
                                                    </div>
                                                    <div class="col-md-8 ">
                                                        <div  class="input-group " >
                                                                <p>{{model.Benefits}}</p>
                                                            
                                                        </div>
                                                    </div>
                                                </div>  
                                            </form>          
        
                                            <form name="howToApply">
                
                                            
                                                <div class="row element-padding ">
                                                        <div class="col-md-4 ">
                                                            <label for="email ">How to Apply</label><i style="margin-left:4%; " class="fa fa-question
                                " pTooltip="How to Apply. "></i>
                                                        </div>
                                                        <div class="col-md-8 ">
                                                            <div  class="input-group "  >
                                                                    <p>{{model.HowToApply}}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </form>          
        
                                                <form name="keywordsForm">
                    
                                                
                                                    <div class="row element-padding ">
                                                            <div class="col-md-4 ">
                                                                <label for="email ">Keywords</label><i style="margin-left:4%; " class="fa fa-question
                                    " pTooltip="Enter Keywords as a comma seperated text. "></i>
                                                            </div>
                                                            <div class="col-md-8 ">
                                                                <div  class="input-group "  >
                                                                        <p>{{model.Keywords}}</p>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </form>          
                </div>
                
            
                
            
                    
            

            

           


        </div>
        <div class="col-md-5 col-xs-12 ">
            
                
                
                   

<div  *ngIf="isSearchList ">
        <p-accordion [activeIndex]="0 ">
                <p-accordionTab header="Sourcing and Staffing ">
                        <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th>Post Ads</th>
                                        <th>Resumes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let src of resumeSourcesList ">
                                        <td><input [attr.id]=" 'p' + src.id " type="checkbox " [(ngModel)]="src.postAds
                " (click)="postSelectedAds(src,src.postAds) " 
                                            [checked]="selected ">
                                            <span style="margin-left:1%; ">{{src.domain}}</span>
                                        </td>
                                        <td><input [attr.id]=" 'r' + src.id " type="checkbox "  [(ngModel)]="src.emailResumes
                "  (click)="postSelectedEmails(src,src.emailResumes) ">
                                            <span style="margin-left:1%; ">{{src.resume}}</span>
                                             
                                                <a style="cursor:pointer; ">
                                                        <i class="fa fa-eye pull-right " aria-hidden="true " style="padding-right:3%; "></i>
                                                </a>
                                                <a style="cursor:pointer; " download href="/src/assets/{{src.resume}} ">
                                                        <i class="fa fa-download pull-right " aria-hidden="true "></i>
                                                </a>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                </p-accordionTab>
                </p-accordion>
        

    <div class="row element-padding ">
                <div class="col-md-offset-6 col-md-3 " *ngIf="isPostAds ">
                    <button class="btn btn-primary btn-sm " (click)="postAds() ">Post Ads</button>
                </div>
                <div class="col-md-offset-6 col-md-3 "  *ngIf="isPostEmails ">
                    <button class="btn btn-primary btn-sm " (click)="sendEmail() ">Send Email</button>
                </div>
            </div>
</div>
                    
        </div>
    </div>

</div>