<div class="container" style="padding-top:5%;">
    <div class="row">
        <div class="col-md-6">

            <app-ngx-editor [placeholder]="'Enter Job Description Here'" height="150px" minHeight="250px" [spellcheck]="true" [(ngModel)]="jobDescription"></app-ngx-editor>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" (click)="analyze()">Analyze</button>
                    <button class="btn btn-primary" (click)="search()" style="margin-left:2%;">Search</button>
                </div>
            </div>
            <div class="row" *ngIf="isSuggestionBtn">
                <div class="col-md-12">
                    <rating [(ngModel)]="starsCount" [max]="5" [float]="true">
                    </rating>
                </div>
            </div>


        </div>
    </div>
    <div class="row" *ngIf="isSuggestion" style="margin-top:5%;">
        <div class="col-md-6">
            <app-ngx-editor [placeholder]="'Suggestions'" height="150px" minHeight="250px" [spellcheck]="true" [(ngModel)]="jobSuggestion"></app-ngx-editor>
        </div>
    </div>
    <div class="row" style="margin-top:2%;" *ngIf="isSearchGrid">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Post Ads</th>
                        <th>Resumes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let src of resumeSourcesList">
                        <td><input [attr.id]="'p' + src.id" type="checkbox" [(ngModel)]="src.postAds" (click)="postSelectedAds(src,src.postAds)" 
                            [checked]="selected">
                            <span style="margin-left:1%;">{{src.domain}}</span>
                        </td>
                        <td><input [attr.id]="'r' + src.id" type="checkbox"  [(ngModel)]="src.emailResumes"  (click)="postSelectedEmails(src,src.emailResumes)">
                            <span style="margin-left:1%;">{{src.resume}}</span>
                             <a href="#"><i class="fa fa-download pull-right" aria-hidden="true"></i></a>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-primary">Email Selected Resumes</button>
                </div>
            </div>
            <div class="row" style="margin-top:2%;">
                <div class="col-md-2">
                    <button class="btn btn-primary">Post Ads</button>
                </div>
            </div>


        </div>
    </div>
</div>