<!-- <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Forgot Password</div>
            </div>

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform"  role="form">

                    <div style="margin-bottom: 25px" class="form-group">
                        <input id="login-username" type="text" class="form-control input-lg" name="username" value=""
                         placeholder="Enter Email Address">
                    </div>

                    
                    


                    <div class="row" style="margin:2%;">
                        <div class="col-md-6">
                            <button class="btn btn-default btn-lg" (click)="cancel()">Cancel</button>
                        </div>
                        <div class="col-md-offset-3 col-md-3">
                            <button class="btn btn-primary btn-lg" (click)="forgotPassword()">Submit</button>
                        </div>
                    </div>



                    
                </form>



            </div>
        </div>
    </div>

</div> -->

<div class="container center-align">
        <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        <h3>Forgot Password</h3>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                        <div class="example-container">
                                <mat-form-field>
                                        <input type="text" matInput placeholder="Email Address">
                                      </mat-form-field>
                                    
                              
                              </div>  
                                    <mat-card-actions>
                                            <mat-grid-list  cols="2"  rowHeight="40px">
                                                    
                                                    <mat-grid-tile>
                                                            <button mat-raised-button  (click)="cancel()">Clear</button>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                            <button mat-raised-button color="primary"   (click)="forgotPassword()">Submit</button>
                                                    </mat-grid-tile>
                                                    
                                                  </mat-grid-list>
                                          </mat-card-actions>
                                    <mat-card-actions>
                                            
                                          </mat-card-actions>
                    </mat-card>
                
        </div>
            
    </div>