/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
::placeholder {
    font-size: 12pt;
    opacity: 1;
    /* Firefox */
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .center-align-panel {
        margin:15% 26% !important;
    }
    .center-align {
        margin:10% 20% !important;
    }
    .center-align-table {
        margin:2% 0 !important;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .center-align-panel {
        margin:15% 26% !important;
    }
    .center-align {
        margin:10% 20% !important;
    }
    .center-align-table {
        margin:2% 0 !important;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .center-align-panel {
        margin:15% 26% !important;
    }
    .center-align {
        margin:10% 30% !important;
    }
    .center-align-table {
        margin:2% 0 !important;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    
}